* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/black_background.webp);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.container {
    padding: 30px 5%;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* font-family: 'Bruno Ace SG', sans-serif; */
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    /* margin-top: 15%;
    font-size: 20px;
    display: inline-block;
    /* margin-right: 40px; */
    /* margin-left: 8%;  */

    margin-top: 15%;
    display: inline-block;
    width: 60%; /* set the width of header-text to 60% of the container */
    vertical-align: top; /* align to top */
    box-sizing: border-box; /* adjust the box model */
    padding-left: 20px;
}

.header-text h1 {
    /* font-size: 50px;
    margin-top: 30px;
    display: inline-block; */

    font-size: 48px;
    margin: 0;
    padding: 0;
}
.header-text h1 span {
    color: #ff004f; /* #f89406 */
}

.header-text p {
    /* line-height: 1.5em; */

    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.header-text a {
    /* background: #ff004f;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
    border-radius: 6px; */

    display: inline-block;
    background-color: #ff004f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
}
.header-text a:hover {
    background-color: #e87e04;
}
span {
    color: #ff004f;
}

.header-image {
    display: inline-block;
    position: relative;
    /* top: -70px; */

    width: 35%; /* set the width of header-image to 35% of the container */
    vertical-align: top; /* align to top */
    box-sizing: border-box; /* adjust the box model */
    padding-right: 100px;
}

.header-image img {
    /* width: 250px; */
    width: 110%;
    height: auto;
    margin-left: 80px;
    /* margin-top: -120px; */
}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
    margin-top: 90px;
}
.about-col-2{
    flex-basis: 60%;

}
.subtitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.about-col-2 ol{
    margin-left: 25px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}